.header {
    padding: 0;
}

.navigation ul {
    display: flex;
    background-color: rgba(33, 150, 243, 1);
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}

.navigation li {
    color: white;
    opacity: 0.7;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.25px;
    padding: 23px;
    font-family: Roboto;
}

.selected {
    background-color: rgba(30, 136, 229, 1);
}