:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

ul,
ol {
  list-style: none;
}


a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

